<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
{% for experience in site.data.experiences %}
  <div class="item">
      <div class="meta">
          <div class="upper-row">
              <h3 class="job-title">{{experience.position}}</h3>
              <div class="time">{{experience.duration}}</div>
          </div><!--//upper-row-->
          <div class="company">{{experience.company}}</div>
      </div><!--//meta-->
      <div class="details">
          <p>
            <b>Responsibilites:</b> {{experience.responsibilities}}
          </p>
          <p>
            <b>Projects:</b> {{experience.projects}}
          </p>

      </div><!--//details-->
  </div><!--//item-->
{% endfor %}
</section><!--//section-->
