<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
  <div class="item">
      <div class="meta">
          <div class="upper-row">
              <h3 class="job-title">Test Analyst</h3>
              <div class="time">2016, June - Present</div>
          </div><!--//upper-row-->
          <div class="company">DVT (Dynamic Visual Technology)</div>
      </div><!--//meta-->
      <div class="details">
          <p>
            <b>Responsibilites: Tes</b>
          </p>
          <p>
            <b>Projects:</b>
          </p>

      </div><!--//details-->
  </div><!--//item-->

  <div class="item">
      <div class="meta">
          <div class="upper-row">
              <h3 class="job-title">Senior Software Engineer</h3>
              <div class="time">2014 - 2015</div>
          </div><!--//upper-row-->
          <div class="company">Google, London</div>
      </div><!--//meta-->
      <div class="details">
        <p>
          <b>Responsibilites: Tes</b>
        </p>
        <p>
          <b>Projects:</b>
        </p>
      </div><!--//details-->
  </div><!--//item-->

  <div class="item">
      <div class="meta">
          <div class="upper-row">
              <h3 class="job-title">UI Developer</h3>
              <div class="time">2012 - 2014</div>
          </div><!--//upper-row-->
          <div class="company">Amazon, London</div>
      </div><!--//meta-->
      <div class="details">
        <p>
          <b>Responsibilites: Tes</b>
        </p>
        <p>
          <b>Projects:</b>
        </p>
      </div><!--//details-->
  </div><!--//item-->
</section><!--//section-->
